<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- This appender writes log messages to a file -->
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\test-run.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] [%thread] [%-5level] [%property{TestName}] - %message%newline" />
    </layout>
  </appender>

  <!-- This appender writes log messages to the console -->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="[%date] [%thread] [%-5level] [%property{TestName}] - %message%newline" />
	</layout>
  </appender>

  <!-- This is the root logger configuration -->
  <root>
    <level value="DEBUG" /> <!-- Log all messages from DEBUG level and above -->
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
